
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align: center;">for doing business with us.</h3>
<br />
<h4 style="text-align: center;">Your order number is @Guid.NewGuid()</h4>